@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Wallpoet&display=swap');
.discount-container{
    background-image: url("../../../images/banner/5.jpg");
    opacity: .8;
    background-blend-mode:luminosity;
    background-size: cover;
    filter: blur(8x);
    border-radius: 10px;
    box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;

    /* -webkit-filter: blur(8px); */
}

.discount-text{
    font-family: 'Wallpoet', cursive;
    color: black;
    background-color: #cacfd8;
    border-radius: 0px 0px 20px 20px;
    box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
}
.discount-text p{
    color: gray;
}
.discount-sub-container{
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    
    
}
.discount-carousel{
    border: none;
}